<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUFeedURL</key>
	<string></string>
	<key>SUPublicEDKey</key>
	<string>hzGX7tvLxeey3hWEZM667PJ7UqEwp3Mv6TS4KhsHZnM=</string>
</dict>
</plist>
